<nav class="navbar fixed-top navbar-expand-lg bg-body-tertiary shadow-sm" id="nav">
  <div class="container">
    <a class="navbar-brand" href="#">😎</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02"
      aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 bold">
        <li class="nav-item">
          <a class="nav-link link-body-emphasis" href="#home">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link link-body-emphasis" href="#about">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link link-body-emphasis" href="#projects">Projects</a>
        </li>
        <li class="nav-item">
          <a class="nav-link link-body-emphasis" href="#contact">Contact</a>
        </li>
      </ul>
      <form role="switch" class="form-check form-switch">
        <input class="form-check-input clickable" type="checkbox" id="darkModeSwitch" [checked]="darkMode"
          (change)="toggleTheme()" />
        <label class="form-check-label" for="darkModeSwitch">🌙</label>
      </form>

    </div>
  </div>
</nav>

<main id="main-wrapper">
  <!-- Home Section -->
  <section id="home" class="page-section text-center">
    <h1 class="display-5">😎</h1>
    <h1 class="display-5 fw-bold text-body-emphasis">Hi, I'm Tom.</h1>
    <div class="container section-container">
      <p class="lead mb-4">
        This is a showcase of my work. Feel free to look around.
      </p>
      <div class="gap-2 justify-content-sm-center">
        <a href="#contact" class="btn btn-primary btn-lg px-4">Contact</a>
        <button type="button" class="btn btn-outline-secondary btn-lg px-4">
          I dunno
        </button>
      </div>
    </div>
  </section>

  <!-- About Section -->
  <section id="about" class="page-section bg-body-tertiary text-center">
    <h2 class="mb-4">About Me</h2>
    <div class="container section-container">
      <p>
        Hello, my name is Tom and I am learning web development.
      </p>
      <p>
        This is my Portfolio.
      </p>
    </div>
  </section>

  <!-- Project Section -->
  <section id="projects" class="page-section">
    <h2 class="mb-4">Projects</h2>
    <div class="container section-container">
      <div class="row g-2 jusify-center">
        <!-- Project Cards -->
        <div class="col-6 col-md-3">
          <div class="card shadow-sm text-center p-3">
            <img src="/assets/slot-machine.png" class="card-img-top" alt="slot machine" />
            <div class="card-body p-1">
              <h5 class="card-title">Slot Machine</h5>
              <p class="card-text">
                A command line based slot machine, written in Java.
              </p>
              <a target="_blank" rel="noopener noreferrer" href="https://github.com/tbone9955/slot-machine"
                class="btn btn-primary">View code</a>
            </div>
          </div>
        </div>
        <div class="col-6 col-md-3">
          <div class="card shadow-sm text-center p-3">
            <img src="/assets/slot-machine.png" class="card-img-top" alt="slot machine" />
            <div class="card-body p-1">
              <h5 class="card-title">Slot Machine</h5>
              <p class="card-text">
                A command line based slot machine, written in Java.
              </p>
              <a target="_blank" rel="noopener noreferrer" href="https://github.com/tbone9955/slot-machine"
                class="btn btn-primary">View code</a>
            </div>
          </div>
        </div>
        <div class="col-6 col-md-3">
          <div class="card shadow-sm text-center p-3">
            <img src="/assets/slot-machine.png" class="card-img-top" alt="slot machine" />
            <div class="card-body p-1">
              <h5 class="card-title">Slot Machine</h5>
              <p class="card-text">
                A command line based slot machine, written in Java.
              </p>
              <a target="_blank" rel="noopener noreferrer" href="https://github.com/tbone9955/slot-machine"
                class="btn btn-primary">View code</a>
            </div>
          </div>
        </div>
        <div class="col-6 col-md-3">
          <div class="card shadow-sm text-center p-3">
            <img src="/assets/slot-machine.png" class="card-img-top" alt="slot machine" />
            <div class="card-body p-1">
              <h5 class="card-title">Slot Machine</h5>
              <p class="card-text">
                A command line based slot machine, written in Java.
              </p>
              <a target="_blank" rel="noopener noreferrer" href="https://github.com/tbone9955/slot-machine"
                class="btn btn-primary">View code</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Contact Section -->
  <section id="contact" class="page-section bg-body-tertiary">
    <div class="container section-container">
      <h2 class="mb-4">Contact Me</h2>
      <form>
        <div class="mb-2">
          <label for="name-input" class="form-label">Name</label>
          <input type="text" class="form-control" id="name-input">
        </div>
        <div class="mb-2">
          <label for="email-input" class="form-label">Email</label>
          <input type="email" class="form-control" id="exampleInputPassword1">
        </div>
        <div class="mb-5">
          <label for="message-input" class="form-label">Message</label>
          <textarea class="form-control" id="message-input" rows="3"></textarea>
        </div>
        <div class="d-grid gap-2 col-4 mx-auto">
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
      </form>
    </div>
  </section>
</main>

<!-- Footer -->
<footer class="py-4 bg-dark text-white text-center">
  <div class="container">
    <p>&copy; 2024 Tom Fahey</p>
  </div>
</footer>